/* styles.css */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

th,
td {
    white-space: nowrap;
}

.add-button {
    background-color: #ffc107;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #ff9800;
}

.pay-button {
    background-color: #ffc107;
    color: #fff;
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.pay-button:hover {
    background-color: #ff9800;
}
